/* Links
   ========================================================================== */

.ocp-map,
.ocp-table {
  a {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;
    transition: opacity 0.24s ease 0s;
  }

  a:visited {
    color: $link-color;
  }

  a:hover {
    opacity: 0.64;
    outline: none;
  }

  a:active {
    outline: none;
    transform: translate(0, 1px);
  }
}

/* ==========================================================================
   Structure
   ========================================================================== */
