/* ==========================================================================
   Drops
   ========================================================================== */

.drop {
  position: relative;
  display: inline-block;
}

.drop__content {
  background: rgba($primary-color, 0.80);
  box-shadow: 0 2px 12px 2px $base-alpha-color, 0 0 0 1px $base-alpha-color;
  position: absolute;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 12rem;
  margin: 0;
  padding: $global-spacing;
  overflow: hidden;

  text-align: left;
  color: $base-font-color;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $base-font-family;
  font-weight: $base-font-regular;
  text-transform: initial;

  /* Animation */

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.16s ease 0s, margin 0.16s ease 0s, visibility 0.16s linear 0s;

  /* Positioning modifiers */

  .drop--down > & {
    top: 100%;
    margin-top: -$global-spacing;
  }
  .drop--up > & {
    bottom: 100%;
    margin-bottom: -$global-spacing;
  }

  /* Aligning modifiers */

  .drop--align-center > & {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .drop--align-right > & {
    right: 0;
    left: auto;
  }

  /* Animation modifiers */

  .drop--open > & {
    opacity: 1;
    visibility: visible;
  }
  .drop--down.drop--open > & {
    margin-top: $global-spacing / 2;
  }
  .drop--up.drop--open > & {
    margin-bottom: $global-spacing / 2;
  }
}

/* Drop menu
   ========================================================================== */

.drop {
  .drop__menu {
    @extend .clearfix;
    list-style: none;
    margin: (-$global-spacing) (-$global-spacing) $global-spacing (-$global-spacing);
    box-shadow: 0 1px 0 0 $base-alpha-color;
    padding: ($global-spacing / 2) 0;
    line-height: inherit;
    font-size: inherit;

    &:last-child {
      margin-bottom: (-$global-spacing);
      box-shadow: none;
    }

    .drop__menu-item {
      position: relative;
      display: block;
      padding: 0.25rem 1rem;
      color: inherit;
      transition: all 0.24s ease 0s;
      &:hover,
      &:focus {
        color: $link-color;
        background-color: tint($link-color, 92%);
        opacity: 1;
      }
    }
  }

  /* Select modifier */

  .drop__menu--select {
    .drop__menu-item {
      padding-right: $global-spacing * 3;
    }
    .drop__menu-item--active {
      color: inherit;
      outline: 0;
      &:after {
        @extend .collecticons-sm-tick;
        position: absolute;
        z-index: 1;
        top: $global-spacing / 4;
        right: $global-spacing;
        font-size: 1.25rem;
        line-height: 1.5rem;
        opacity: 0.48;
      }
    }
  }
}
