/* ==========================================================================
   Widget Table
   ========================================================================== */

.ocp-map {
  &__title {
    @extend .visually-hidden;
  }

  &__body {
    position: relative;
    overflow: hidden;
  }

  &__map {
    min-height: 500px;

    & .info.legend {
      opacity: 1;
      background-color: #FFF;
      padding: 8px;
    }
  }

  &__content-wrapper {
    position: absolute;
    right: -50vw;
    top: 1rem;
    bottom: 1rem;
    z-index: 1;
    overflow: auto;
    min-width: 20rem;
    width: 33.333%;
    padding: 0 1.5rem;
    background-color: #fff;
    opacity: 0;

    transition: right 0.24s ease 0s, opacity 0.24s ease 0.1s;

    &.ocp-revealed {
      right: 0;
      opacity: 1;
      transition: right 0.24s ease 0.1s, opacity 0.24s ease 0s;
    }
  }

  &__content {
    font-size: 0.875rem;
    margin: 1rem 0;

    .ocp-map__button-close {
      font-size: 0.8rem;
      line-height: 0.8rem;
      padding: 0;
      margin: 0;
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 10;

      span {
        @extend .visually-hidden;
      }

      &:before {
        @extend .collecticons-sm-xmark;
        color: rgba($base-color, 0.48);
      }
    }

    h2 {
      color: $primary-color;
      font-size: 1.75rem;
      padding-right: 1rem;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }
    div {
      margin: 1.25rem 0 1rem 0;
    }
    .godi {
      font-style: italic;
      margin-top: -0.5rem;
    }
    &-link {
      font-size: 0.875rem;
      margin-top: 1rem;
    }
  }



  &__actions {
    background-color: $base-color;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-family: $display-font-family;
    font-size: 0.8rem;

    &-description {
      margin-right: 1rem;
    }

    .drop__menu {
      width: 20rem;

      li {
        padding: 0;
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }
}
