/* ==========================================================================
   Widget Table
   ========================================================================== */

.ocp-map {
  &__body {
    position: relative;
  }

  &__map {
    min-height: 500px;
  }

  &__content {
    background-color: #fff;
    font-size: 0.875rem;
    padding: 1rem;
    width: 33.333%;
    min-width: 20rem;
    position: absolute;
    right: 0;
    top: 1rem;

    h2 {
      @extend .heading--small;
      color: $primary-color;
    }

    h3 {
      font-size: 1.25rem;
    }

    .ocds-item {
      color: $disabled_font_color;
      &:after {
        @extend .collecticons-sm-xmark;
        color: $danger-color;
      }
      &.ocds-item--active {
        color: $base-color;
        font-weight: $base-font-bold;
        &:after {
          @extend .collecticons-sm-tick;
          color: $primary-color;
        }
    }
  }
  }

  &__actions {
    background-color: $base-color;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;

    &-description {
      margin-right: 1rem;
    }

    .drop__menu {
      width: 20rem;
    }
  }
}

